input:focus {
  outline: none;
}

.list-header {
  display: flex;
  background-color: white;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  box-shadow: 0 10px 10px -10px #4a4a4a;
  position: sticky;
  top: 0;
  z-index: 1;
}

.search-box {
  border: 1px solid #9b9b9b;
  border-radius: 5px;
  padding: 10px 5px 10px 40px;
  background: transparent url("../assets/search_black_24dp.svg") no-repeat 13px
    center;
  background-color: #9b9b9b;
}

.home-div {
  position: relative;
  right: 1%;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.search-div {
  padding-bottom: 10px;
  position: relative;
  left: 1%;
}

.detail-div {
  padding-bottom: 10px;
  font-weight: bold;
  position: relative;
  left: 1%;
}
