.movie-card {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: -12px 8px 8px -10px #4a4a4a;
}

.movie-data {
  display: flex;
  flex-direction: column;
  width: 185px;
  padding-top: 6px;
  height: 60px;
}

.image-section {
  height: 220px;
  width: 185px;
  background-color: #4b4b4b;
  border-radius: 10px 10px 0px 0px;
}

.row-one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 5px 0px 5px;
}

.row-two {
  padding: 0px 5px 0px 5px;
}
